/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container  {
  width: 90%;
  max-width: 650px;
}

.alink {
  color: rgb(96, 165, 250);
  text-decoration: underline; 
}
